---
import IconT from "./theme/IconT.astro";
import Pill from "./theme/Pill.astro";
import Starfield from "./starfield.astro";
import FlipWords from "./FlipWords.astro";
import ButtonLink from "./theme/ButtonLink.astro";
---

<section class="relative min-h-screen bg-ctp_bckgrnd flex items-center">
  <Starfield />

  <div class="mx-auto px-12 md:px-24 relative z-10">
    <div class="flex flex-col md:flex-row md:justify-between items-center">
      <!-- Main content column -->
      <div class="w-full md:w-2/3 space-y-4 md:space-y-6">
        <div class="text-left space-y-2 max-sm:text-wrap">
          <small class="text-ctp_sky font-mono text-sm"> Hi, my name is </small>

          <h1 class="font-sans text-4xl md:text-6xl font-bold text-ctp_txt1">
            Ahmad
          </h1>
          <h2
            class="font-sans text-4xl md:text-5xl font-bold text-ctp_txt2 sm:w-[47.5rem] max-sm:text-wrap flex items-center flex-wrap"
          >
            I create things for <span><FlipWords /></span>.
          </h2>
          <p
            id="text-container-item"
            class="font-sans text-base font-regular text-ctp-subtext0 pb-2 text-wrap"
          >
            I'm a creative Developer from Jordan specializing in designing &
            building captivating digital Experiences. Currently, I'm a Student
            pursuing a Computer Science Degree <a
              href="https://www.gju.edu.jo/"
              class="text-ctp_sky font-medium hover:underline hover:text-ctp_sky"
              >@GJU</a
            >.
          </p>
        </div>

        <!-- Role pills -->
        <div class="flex flex-wrap gap-3 pt-2 pb-6">
          <Pill>
            <IconT icon="code" size="1.33em" gradient={true} /> Developer
          </Pill>
          <Pill>
            <IconT icon="designer" size="1.33em" gradient={true} /> Designer
          </Pill>
          <Pill>
            <IconT icon="pencil-line" size="1.33em" gradient={true} /> Student
          </Pill>
        </div>

        <!-- CTA Button -->
        <ButtonLink
          content="Email me"
          isIcon={false}
          href="mailto:ahmadmtr@protonmail.com"
          className="inline-block focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-ctp_muave"
        />
      </div>
    </div>
  </div>
</section>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    :global(#starfield) {
      @apply hidden;
    }
  }
</style>
