---
interface Props {
  className?: string;
}
const { className = "" } = Astro.props;
---

<div class={`pill ${className}`}><slot /></div>

<style>
  .pill {
    @apply flex md:!text-xs items-center justify-center text-ctp_txt1 bg-transparent outline outline-1 outline-ctp-sky   gap-1 md:gap-2 py-1 px-2 md:py-2  md:px-3 font-mono;

    /* padding: 0.5rem 1rem; */

    /* color: var(--accent-text-over); */

    border: 1px solid var(--accent-regular);

    border-radius: 1rem;
    font-size: 0.7rem;
    line-height: 1.35;
    white-space: nowrap;
  }
</style>
