---
interface Props {
  className?: string;
}
const { className = "" } = Astro.props;
---

<div class={`pill ${className}`}><slot /></div>

<style>
  .pill {
    @apply text-ctp_txt1 bg-transparent outline outline-1 outline-ctp-sky text-xs py-1 px-2 gap-1 md:gap-2  md:p-2;
    display: flex;
    /* padding: 0.5rem 1rem; */

    /* color: var(--accent-text-over); */

    border: 1px solid var(--accent-regular);

    border-radius: 1rem;
    /* font-size: var(--text-md); */
    line-height: 1.35;
    white-space: nowrap;
  }
</style>
